<div class="flex flex-wrap -mx-3">
	<div class="flex-none w-full max-w-full px-3">
		<div
			class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
			<div
				class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex items-center space-x-4">
				<a class="px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102"
					href="/{{props.url}}/seed-{{props.objects.airports}}" onclick="return confirmSeed()">Seed {{props.objects.airports}}</a>
				<a class="px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102"
					href="/{{props.url}}/seed-{{props.objects.airlines}}" onclick="return confirmSeed()">Seed {{props.objects.airlines}}</a>
				<a class="px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102"
					href="/{{props.url}}/seed-{{props.objects.gates}}" onclick="return confirmSeed()">Seed {{props.objects.gates}}</a>
				<a class="px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102"
					href="/{{props.url}}/seed-{{props.objects.carousels}}" onclick="return confirmSeed()">Seed {{props.objects.carousels}}</a>
				<a class="px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102"
					href="/{{props.url}}/seed-{{props.objects.checkInCounters}}" onclick="return confirmSeed()">Seed {{props.objects.checkInCounters}}</a>
				<a class="px-6 py-3 my-4 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102"
					href="/{{props.url}}/seed-{{props.objects.flights}}" onclick="return confirmSeed()">Seed {{props.objects.flights}}</a>
			</div>
		</div>
	</div>
</div>